body {
  background: linear-gradient(to right, #003366, #008080);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1,
h2 {
  color: #343a40;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ffffff, rgb(119, 120, 120));
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

table th,
table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #dee2e6;
}

table th {
  background-color: #007bff;
  color: white;
}
